<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Red Hat OpenShift - Node.js & Database Demo</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <style>
        .table-striped>tbody>tr:nth-child(odd)>td,
        .table-striped>tbody>tr:nth-child(odd)>th {
            background-color: #e6e6ff;
        }

        .details {
            margin-right: 100px;
            margin-left: 100px;
        }

        .key {
            width: 250px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1 id="heading" style="text-align: center">Red Hat OpenShift - Node.js & Database Demo</h1>
    <div style="margin:20px; text-align: center">
        <button id="update" class="btn btn-primary">Press Me!</button>
    </div>
    <div class="details">
        <table class="table table-bordered table-striped table-responsive table-hover">
            <tr>
                <td class="key">Page Hits</td>
                <td>
                    <p id="page_hits">Unknown</p>
                </td>
            </tr>
            <tr>
                <td class="key">Button Hits</td>
                <td>
                    <p id="hits">Unknown</p>
                </td>
            </tr>
        </table>

        <table class="table table-bordered table-striped table-responsive table-hover">
            <tr>
                <td class="key">Server IP</td>
                <td>
                    <p id="ip">Unknown</p>
                </td>
            </tr>
            <tr>
                <td class="key">Database Name</td>
                <td>
                    <p id="db_name">Unknown</p>
                </td>
            </tr>
            <tr>
                <td class="key">Environment Variable (TEXT)</td>
                <td>
                    <p id="env_var">Unknown</p>
                </td>
            </tr>
            <tr>
                <td class="key">Server Uptime</td>
                <td>
                    <p id="time">Unknown</p>
                </td>
            </tr>
            <tr>
                <td class="key">Architecture</td>
                <td>
                    <p id="cpu">Unknown</p>
                </td>
            </tr>
            <tr>
                <td class="key">Number of Cores</td>
                <td>
                    <p id="cores">Unknown</p>
                </td>
            </tr>
        </table>

        <% if (visitors.length > 0) { %>
        <h3>Visitors</h3>
        <table class="table table-bordered table-striped table-responsive table-hover">
            <tr>
              <td><b>Container IP</b>
              <td><b>Timestamp</b></td>
            </tr>
            <% for(var i=0; i<visitors.length; i++) {%>
              <tr>
                  <td><%= visitors[i].ip %></td>
                  <td><%= new Date(visitors[i].date) %></td>
              </tr>
            <% } %>
        </table>
        <% } %>
    </div>
    <script>
        var socket = io();
        $('#update').click(function () {
            socket.emit('button clicked');
            return false;
        });

        socket.on('update', function (information) {
            console.log(information)

            var db_name = information['dbname'] || "Not Connected";

            document.getElementById("page_hits").innerHTML = information['pageHits'];
            document.getElementById("hits").innerHTML = information['buttonHits'];
            document.getElementById("time").innerHTML = information['time'];
            document.getElementById("cpu").innerHTML = information['CPU'];
            document.getElementById("cores").innerHTML = information['cores'];
            document.getElementById("ip").innerHTML = information['serverIP'];
            document.getElementById("env_var").innerHTML = information['envVar'];
            document.getElementById("db_name").innerHTML = db_name;
        })
    </script>
</body>

</html>
